/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

universal reset*/
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box; 
    /*border-box makes all the divs to be of same width even if they have padding and margin.*/

}
body
{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding:30px;

}
.header
{
    position: relative;
    height: 95vh;/*95% of viewport*/
    background-image: linear-gradient(to right bottom,#7ed56fa1,#28b485a1),url(../img/hero.jpg); /* adding two layers and then having opacity of the linear gradient colors to be lesser than 1 , ".." in url is to go a folder up.*/
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0% 98%);/*we have to add coordinates --- use bennettfeely.com/clippy to get coordinates of awesome polygons. */


}
.logo-box
{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo
{
    height: 35px;
}

.text-box
{
    position: absolute;
    top: 40%; /*absolute position from parent elem*/
    left: 50%;
    transform: translate(-50%,-50%);
    /*transform_shifts the obj from its original absolute_position
      translate shifts in x and y axis
      we can use Rotate to rotate:)
      and try out other transformations as well'
    */
    text-align: center;
}
.heading-primary
{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
    backface-visibility: hidden;
    /* to reduce shaking that happens during animation  */
}
.heading-primary-main
{
    display: block; 
    font-size: 60px;
    font-weight : 400;
    letter-spacing:35px;
/* animation defined by us under the keyframes  */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* ease out is fast in beginning and slow in end, check out other animation-timing-function */
    /* animation-iteration-count: 3;
    animation-delay: 1s; */


}

.heading-primary-sub
{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft{
    /* % completion of the animation */
    0%{
        opacity: 0;
        transform: translateX(-100px);
        /* translatex helps us move in x axis */
    }
    70%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    70%{
        transform: translateX(-10px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}
/* we can have .btn:visited to set a look for the button once it is visited 
:psuedo class -> can be active, hover, visited etc */
.btn:link,
.btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all;
}
/* inline blockadds \n */
/* hover elevates the button by 2px(from original position) */
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2) ;

}
/* active elevates the button by 1px from original but it lowers the button relatively by 1 px from its previous location */
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2) ;
}

.btn-white{

background-color:#fff;
color:#777;

}